<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="waifu2x_ncnn_vulkan_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="waifu2x_chainer_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<userSettings>
        <waifu2x_ncnn_vulkan_gui.Properties.Settings>
                <setting name="scale_ratio" serializeAs="String">
                        <value>2</value>
                </setting>
                <setting name="noise_level" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="block_size" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="mode" serializeAs="String">
                        <value>scale</value>
                </setting>
                <setting name="SoundBeep" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="output_dir" serializeAs="String">
                        <value>null</value>
                </setting>
                <setting name="store_output_dir" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="output_no_overwirit" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="model" serializeAs="String">
                        <value>models-cunet</value>
                </setting>
                <setting name="gpu_id" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="thread" serializeAs="String">
                        <value>2</value>
                </setting>
                <setting name="Precision_fp32" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="TTAmode" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="Alphachannel_ImageMagick" serializeAs="String">
                        <value>True</value>
                </setting>
                <setting name="output_format" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="output_quality" serializeAs="String">
                        <value>100</value>
                </setting>
                <setting name="Keep_aspect_ratio" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="Output_width" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Output_heigh" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="Output_width_height" serializeAs="String">
                        <value>0</value>
                </setting>
                <setting name="mag_mode" serializeAs="String">
                        <value>Scale_ratio_mode</value>
                </setting>
        </waifu2x_ncnn_vulkan_gui.Properties.Settings>
    </userSettings>
</configuration>